#graph_bound{ :style => 'height:400px; width:100%; position:relative; ' }
  #real_time_graph
  %div#real_time_buttons{ :style => 'position:absolute; top:20px; right:20px;' }
    %button.viewWindow{ :time => '24' }
      1 day
    %button.viewWindow{ :time => '12' }
      12 hour
    %button.viewWindow{ :time => '1.0' }
      1 hour
    %button.viewWindow{ :time => '0.50' }
      30 mins
    %button.viewWindow{ :time => '0.25' }
      15 mins
    %button.viewWindow{ :time => '0.01' }
      1 mins
.inc{ :style => 'font-size: 10px;' }
#stat{ :style => 'font-size: 20px; font-family: arial;  font-weight: normal; color: #333;' }

