%h1.title= "kWh data: #{h(@feed.name.downcase)}"

#graph_bound{:style => 'height:400px; width:100%; position:relative;'}
  #bar_graph{:style => 'font-family: arial; position:absolute; top: 40px; left:60px;'}
  #loading{:style => 'position:absolute; top:40px; left:60px; width:100%; height:100%; background-color: rgba(255,255,255,0.5);'}
  %div{:style => 'position:absolute; top:10px; left:65px; font-size:18px;'}
    %b
      %span#out2

  %h2{:style => 'position:absolute; top:40px; left:80px;'}
    %span#out
  %p#bot_out{:style => 'position:absolute; bottom:-80px; left:65px; font-size:18px; font-weight:bold;'}

  %b
    %p{:style => 'position:absolute; top: 200px; left:0px;'}
      %span#axislabely

  #inst-buttons{:style => 'position:absolute; top:55px; right:20px;'}
    %input.time{:type => 'button', :value => 'W', :time => '7'}
    %input.time{:type => 'button', :value => 'M', :time => '30' }
    %input.time{:type => 'button', :value => 'Y', :time => '365'}
    %input#left{:type => 'button', :value => '<'}
    %input#right{:type => 'button', :value => '>'}

= hidden_field_tag 'api_key', current_user.api_read_token
= hidden_field_tag 'feed_id', @feed.id

