%h1 Listing inputs

%table
  %tr
    %th
    %th
    %th

  - @inputs.each do |input|
    %tr
      %td= input.name
      %td= input.last_value
      %td= link_to 'Destroy', api_v1_input_path(input), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Input', new_api_v1_input_path
