/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.footer {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #DDDDDD;
}


/* Menu links top right screen */
.right {
  float: right;
}


/* Styling link page title*/
h1 a {
  text-decoration: none;
  color: #000;
}

h1 a:hover {
  text-decoration: none;
  color: #000;
}

h1 a:visited { color: #000; }
