/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#gas_usage, #actual_electra {
  width: 500px;
  height: 400px;
  display: inline-block;
  margin: 1em;
}