%head
  %meta{ :content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type' }
  %meta{ :name => 'keywords', :content => 'energy monitor open source emonweb openenergymonitor' }
  %meta{ :name => 'description', :content => 'Open Energy Monitoring is a project to develop and build open-source energy monitoring, control and analysis tools for energy efficiency and distributed renewable generation.' }
  %meta{ :name => 'viewport', :content => 'width=device-width', 'initial-scale' => 1.0}

  = yield :meta

  %title EmonWeb

  = stylesheet_link_tag    :application
  = javascript_include_tag :application
  = csrf_meta_tag

  / %link{:href=>'/images/logo.png', :rel=>'apple-touch-icon'}
  / %link{:href=>'/favicon.ico', :rel=>'shortcut icon'}
