<!DOCTYPE html>
%html

  = render :partial => 'layouts/head'

  %body.widgets

    %canvas#canvas{:width=>'320px', :height=>'450px', :style=>'background-color:#ddd;'}

    = javascript_tag do
      = yield :javascripts
